.apps_stats_container_item_3_card {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #512b8e;
  border-radius: 12px;
  overflow: hidden;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  .apps_stats_container_item_3_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .apps_stats_container_item_3_card_header_title {
      font-family: 'Assistant';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #ffffff;
      white-space: nowrap;
    }

    .apps_stats_container_item_3_card_header_items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .apps_stats_container_item_3_card_header_items_txt {
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
      }

      .apps_stats_container_item_3_card_header_items_btn {
        width: 36px;
        height: 36px;
        background: #b77fff;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .apps_stats_container_item_3_card_body {
    flex: 1;
    width: 100%;
    height: 100%;
  }
}

.custom-tooltip {
  background-color: #ff04b4;
  padding: 6px;
  border-radius: 4px;
  min-width: 100px;
  min-height: 64px;

  .custom-tooltip-label {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #1d0054;
  }

  .custom-tooltip-value {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    span {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #ffffff;
    }

    .custom-tooltip-value-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6px;

      p {
        white-space: nowrap;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        color: #1d0054;
      }
    }
  }

  .custom-tooltip-value-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
