.sidebar_container {
  width: 80px;
  height: 100%;
  background: rgba(29, 0, 84, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 12px;

  .sidebar_container_logo {
    margin-bottom: 82px;
  }

  .sidebar_container_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 122px;

    .sidebar_container_icon {
      cursor: pointer;
    }

    .sidebar_container_icon_active {
      filter: invert(27%) sepia(96%) saturate(2878%) hue-rotate(291deg) brightness(104%)
        contrast(101%);
    }
  }

  .sidebar_container_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 122px;

    .sidebar_container_icon {
      cursor: pointer;
    }
  }
}
