.apps_orders_container {
  flex: 1;
  width: 100%;
  background-color: #2f1177;
  border-radius: 9px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .apps_orders_container_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .apps_orders_container_header_title {
      font-family: 'Assistant';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #ffffff;
    }

    .apps_orders_container_header_btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;

      .apps_orders_container_header_btns_btn {
        width: 83px;
        height: 29px;
        border-radius: 5px;
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
      }

      .apps_orders_container_header_btns_btn:hover {
        filter: brightness(85%);
      }

      .apps_orders_container_header_btns_btn_1 {
        background: #ff04b4;
      }

      .apps_orders_container_header_btns_btn_2 {
        background: #4a458e;
      }

      .apps_orders_container_header_btns_btn_3 {
        background: #230662;
      }
    }
  }

  .apps_orders_container_body {
    flex: 1;
  }
}

.apps_orders_table {
  .ant-table-container {
    background-color: #2f1177;
  }

  .ant-table-container {
    border-radius: 0;
    border: none;
  }

  .ant-table-header {
    border-radius: 0;
    border: none;

    .ant-table-cell {
      background-color: #2f1177;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;

      border-radius: 0;
      border: none;

      &::before {
        display: none;
      }
    }

    .ant-table-cell-scrollbar {
      display: none;
    }
  }

  .ant-table-tbody {
    .ant-table-row {
      &:hover {
        td {
          background-color: #2a0a6e !important;
        }
      }
    }

    tr.ant-table-row-selected {
      > td {
        background-color: #3a1b7a !important;
      }

      &:hover {
        > td {
          background-color: #4a2b8a !important;
        }
      }
    }

    > tr > td {
      border-bottom: 1px solid #4a458e !important;
    }

    > tr:last-child > td {
      border-bottom: none !important;
    }

    .ant-table-cell {
      background-color: #2f1177;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
    }
  }

  .ant-table-body {
    overflow: auto !important;
  }
}
