.apps_stats_container {
  width: 100%;
  min-height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;

  @media only screen and (max-width: 1068px) {
    flex-direction: column;
  }

  .apps_stats_container_item {
    width: 100%;
    height: 100%;
  }

  .apps_stats_container_item_1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media only screen and (max-width: 1068px) {
      flex-direction: row;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
